.profile-form {
  width: 30%;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  gap: 20px;
}

.Contentt h2 {
  font-size: 1.5rem;
}
.Contentt {
  margin-top: 65px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.Contentt button {
  background: #3092e9;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 0.9375rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Roboto",
    "Apple Color Emoji", "Helvetica Neue", sans-serif;
}

.Contentt button:hover {
  background-color: #50a3eb;
}

.google-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.625rem;
}
