.message {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.message-content {
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 75%;
    color: white;
    word-wrap: break-word; /* Allow long words to break onto the next line */
}

.incoming .message-content {
    background-color: rgb(245, 192, 215); /* Pink bubble for incoming messages */
    align-self: flex-start;
}

.outgoing .message-content {
    background-color: #5f98fa; /* Blue bubble for outgoing messages */
    align-self: flex-end;
}

.message.outgoing {
    justify-content: flex-end;
}

.chat-container {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto; /* Changed to auto for better UX */
    overflow-x: hidden;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: darkgrey lightgrey; /* Color of the scrollbar */
    border-radius: 10px; /* Rounded corners */
}

/* Styling for the sender name */
.outgoing .sender {
    color: #FDFEFE;
    align-self: flex-end;
    padding-right: 15px;
    font-weight: normal; /* Make the sender's name bold */
}

.incoming .sender {
    color: #FDFEFE;
    align-self: flex-start;
    padding-left: 15px;
    font-weight: normal; /* Make the sender's name bold */
}

/* Responsive Design */
@media (max-width: 768px) {
    .chat-container {
        height: 300px; /* Reduced height for smaller screens */
    }

    .message-content {
        max-width: 90%; /* Increase max-width for mobile devices */
    }
}
