.message {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.message-content {
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 75%;
    color: white;
}

.incoming .message-content {
    background-color: rgb(245, 192, 215); /* Gray bubble for incoming messages */
    align-self: flex-start;
}

.outgoing .message-content {
    background-color: #5f98fa; /* Blue bubble for outgoing messages */
    align-self: flex-end;
}

.message.outgoing {
    justify-content: flex-end;
}
.chat-container {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 460px;
    overflow-y: scroll; /* Enable vertical scrolling */
    overflow-x: hidden;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: darkgrey lightgrey; /* Màu của thanh cuộn và nền */
    border-radius: 10px; /* Bo */
}
 .outgoing .sender{
    align-self: flex-end;
    padding-right: 15px;
}
 .incoming .sender{
    align-self: flex-start;
    padding-left: 15px;
}