.message {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.message-content {
  max-width: 75%;
  color: white;
  word-wrap: break-word; /* Allow long words to break onto the next line */
}

.incoming .message-content {
  align-self: flex-start;
}
.incoming .message-content .text {
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #1a1a40;
}
.outgoing .message-content {
  align-self: flex-end;
}
.outgoing .message-content .text {
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #f28c81;
}
.message.outgoing {
  justify-content: flex-end;
}

.chat-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: darkgrey lightgrey;
  border-radius: 10px;
  height: 100vh;
}

.outgoing .sender {
  color: #f28c81;
  align-self: flex-end;
  padding-right: 15px;
  font-weight: normal;
}

.incoming .sender {
  color: #1a1a40;
  align-self: flex-start;
  padding-left: 15px;
  font-weight: normal;
}

@media (max-width: 768px) {
  .chat-container {
    height: 300px; /* Reduced height for smaller screens */
  }

  .message-content {
    max-width: 90%; /* Increase max-width for mobile devices */
  }
}
.showimg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.showimg-content {
  background-color: white;
  padding: 1.25rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row-reverse;
}
.showimg-content button {
  background: none;
  border: none;
  cursor: pointer;
  height: 20px;
}
.custom-img {
  background-color: transparent !important;
}
.confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  z-index: 1000;
}

.confirmation-dialog p {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.confirmation-dialog button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.confirmation-dialog button:hover {
  background-color: #0056b3;
}

.confirmation-dialog button:last-child {
  background-color: #6c757d;
}

.confirmation-dialog button:last-child:hover {
  background-color: #5a6268;
}
