.btn-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
  border: none;
  line-height: 1.3px;
}

.bi {
  font-size: 20px;
  color: white;
}

.enabled-style {
  background-color: #008cff;
}

.disabled-style {
  background-color: #ff3030;
}

#roomDiv .d-flex {
  position: fixed;
  bottom: 20px; /* Điều chỉnh khoảng cách từ dưới cùng */
  left: 50%;
  transform: translateX(-50%); /* Căn giữa */
  z-index: 9999; /* Đảm bảo nút ở trên cùng */
}
