.home {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background: #f0f8ff;
  gap: 10px;
  padding-left: 5px;
}
@media (max-width: 768px) {
  .home {
    flex-direction: column;
    height: auto;
  }

  /* .profile-form {
    width: 90%;
    margin: 1rem;
  } */
}
