.imagine{
  
    /* Ellipse 2 */
    
    width: 60px;
    height:60px;
    border-radius: 50%;
    background: #669ac2;
    align-self: flex-start;
    }
.group-title{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0px 20px;
}
.group-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.icons{
   display: flex;
   flex-direction: row;
   gap:30px;
}
.icons img{
    height: 20px;
    width: auto;
}

