.imagine {
   
    width: 3.75rem; /* 60px = 3.75rem */
    height: 3.75rem; /* 60px = 3.75rem */
    border-radius: 50%;
    background: #669ac2;
    align-self: flex-start;
}

.group-title {
    display: flex;
    flex-direction: row;
    gap: 1.25rem; /* 20px = 1.25rem */
    padding: 0 1.25rem; /* 20px = 1.25rem */
}

.group-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    flex-wrap: wrap; /* Đảm bảo các item sẽ tự động xuống dòng nếu không đủ không gian */
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 1.875rem; /* 30px = 1.875rem */
}

.icons img {
    height: 1.25rem; /* 20px = 1.25rem */
    width: auto;
    max-width: 100%; /* Đảm bảo hình ảnh không vượt quá kích thước container */
}

/* Thêm media query để đảm bảo tính responsive */
@media only screen and (max-width: 768px) {
    .group-title {
        gap: 1rem;
        padding: 0 1rem;
    }

    .icons {
        gap: 1rem;
    }

    .imagine {
        width: 3rem;
        height: 3rem;
    }

    .icons img {
        height: 1rem;
    }
}
