.chatroom {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-color: #1a1a40;
}
.content-chat {
  background: #f1f1f1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid #ccc;
  width: 51%;
}

.group-title {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  margin-top: 10px;
}
.group-title h3 {
  margin-right: auto;
}

.group-title .imagine {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.group-title .header-chat {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.group-title .name {
  font-size: 18px;
  font-weight: bold;
}

.group-title .icons {
  display: flex;
  align-items: center;
}

.group-title .icons img {
  margin-right: 10px;
  cursor: pointer;
  height: 1.25rem;
  width: auto;
  max-width: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.Frame {
  position: absolute;
  top: 50px; /* Adjusts position relative to the container */
  right: 0;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  z-index: 1000; /* Ensures it's on top of other elements */
}

.Frame-item {
  display: flex;
  flex-direction: column;
}

.Frame-item .item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.Frame-item .item:last-child {
  border-bottom: none;
}

.Frame-item .item:hover {
  background-color: #f0f0f0;
}

.Frame-item .item b {
  font-weight: bold;
}

.Frame-item .item:active {
  background-color: #e0e0e0;
}

.overlay-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-message-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.search {
  display: flex;
  margin-bottom: 10px;
}

.input-mail {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  flex-grow: 1;
}

.list-mail {
  max-height: 200px;
  overflow-y: auto;
}

.list-mail ul {
  padding: 0;
}

.email-item {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.email-item:hover {
  background-color: #f0f0f0;
}

button {
  padding: 8px 15px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.copied-notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.copied-notification {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div[style] {
  margin-top: 20px;
  margin-bottom: 10px;
}

.MessageList {
  margin-top: 20px;
}

.MessageInput {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .group-title {
    gap: 1rem;
    padding: 0 1rem;
  }

  .icons {
    gap: 1rem;
  }

  .imagine {
    width: 3rem;
    height: 3rem;
  }

  .icons img {
    height: 1rem;
  }
}
