.welcome-text {
  background: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid #ccc;
  border-radius: 20px;
  width: 51%;
}

.homemain {
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .welcome-text {
    width: 100%; /* Đảm bảo văn bản chiếm hết chiều rộng trên màn hình nhỏ */
    padding: 1rem;
  }

  .homemain {
    align-items: flex-start; /* Căn chỉnh theo đầu trên màn hình nhỏ */
  }
}
