.welcome-text {
   background: #222629;
    width: 66%;
    /* height: 350px; */
    margin: 0;
    padding: 0;
    display: flex;
  flex-direction: column;
  justify-content: left;
  }

  .homemain{
    align-items: center;

  }
  