

.profile-form h2 {
  font-size: 24px;
  margin-bottom: 15px; /* Added space below the heading */
}

.account {
  width: 200px;
  height: 200px;
  padding-bottom: 20px;
}

/* Adjusted form styling */
.profile-form form {
  width: 100%; /* Full width of the parent container */
  max-width: 307px; /* Max width constraint */
  height: auto; /* Allow height to adjust based on content */
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 1; /* Make the form visible */
}

.profile-form input {
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: border-color 0.3s; /* Smooth transition for border color */
}

.profile-form input:focus {
  border-color: #5f98fa; /* Change border color on focus */
  outline: none; /* Remove default outline */
}


/* Responsive Design */
@media (max-width: 768px) {
  .profile-form {
    width: 80%; /* Increase width on smaller screens */
  }

  .profile-form h2 {
    font-size: 20px; /* Adjust heading size */
  }

  .account {
    width: 150px; /* Adjust account image size */
    height: 150px;
  }

  .profile-form input {
    font-size: 14px; /* Adjust font size for inputs */
  }

  .profile-form button {
    font-size: 14px; /* Adjust button font size */
  }
}
