.group-chat {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 98%;
}

.style-input-message {
  flex: 1;
  padding: 2px;
  border-radius: 20px;
  background-color: #bababa;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.style-input-message input {
  background-color: transparent;
  border: none;
  width: 90%;
}

.style-input-message input:focus {
  outline: none;
}

.style-input-message i {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.style-input-message i:hover {
  transform: scale(1.1);
}

.image-preview-container {
  position: relative;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.image-preview-container img {
  max-width: 50%;
  max-height: 200px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.image-preview-container button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  color: red;
  transition: background-color 0.3s ease;
}

.image-preview-container button:hover {
  background-color: rgba(255, 0, 0, 0.8);
}

/* Hiệu ứng cho ảnh khi hiển thị */
.image-preview-container img:hover {
  transform: scale(1.05);
}

/* Container cho các nút bấm */
.button-container {
  display: flex;
  align-items: center;
  color: white;
  gap: 1rem;
}

/* Vùng lựa chọn emoji */
.emoji {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.emoji svg {
  font-size: 1.5rem;
  color: #000;
  cursor: pointer;
}
