body {
  margin: 0;
  /* font-family: "Ubuntu", sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Roboto",
    "Apple Color Emoji", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: "Ubuntu", sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Roboto",
    "Apple Color Emoji", "Helvetica Neue", sans-serif;
}
